@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */

/**
 * Setup
 */
@import "../vars";
@import "../inuit.css/inuit";
@import "../mixins";

// handle grid gutters ourselves
.grid__item {
    padding-left: 0;
}

.grid-wrapper * {
    -webkit-transition:0.2s width;
    animation: 0.2s width;
}


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";
@import "colors";
@import "ui/fonts";

@import "ui/wrapper";
@import "ui/objects/content-block";

@import "ui/objects/buttons";
@import "ui/objects/messages";
@import "ui/objects/nav";
@import "ui/objects/header";
@import "ui/objects/footer";

@import "ui/objects/comments";

@import "ui/objects/heart-list";

@import "ui/base";
@import "ui/forms";

@import "ui/single_column";
@import "ui/two_columns";
