.nav {

    background: rgba(0, 0, 0, .6);
    margin: 20px 0;
    overflow: hidden;

    @include vendor(border-radius, 4px);
    
    &:after {

        @extend .cf;

    }

    ul {
        
        float: left;
        margin: 0;
        padding: 0;

        a {

            color: white;
            display: block;
            padding: 4px 10px 4px 10px;
            text-decoration: none;

            &:hover {

                background: rgba(255, 255, 255, .1);

            }

        }

        li {

            border-right: 1px solid white;
            float: left;
            list-style: none;

            &:last-child {
                
                border-right: none;

            }

        }

    }

    .login-nav {
        
        float: right;

    }

}
