.nav {

    overflow: hidden;

    @include vendor(border-radius, 4px);
    
    &:after {

        @extend .cf;

    }

    ul {
        $font-size: 48px;
        
        float: right;
        font-family: mathlete-bulky;
        @include font-size($font-size);
        margin: 0;
        padding: 0;

        a {

            border-right: 4px solid red;
            color: black;
            display: block;
            padding: 4px 10px 4px 10px;
            text-decoration: none;

            &:hover {

                @include vendor(animation, fadelink .2s);
                color: $c-main-background;

            }

        }

        li {

            $padding: (108 - $font-size) / 2 + 6;

            float: left;
            padding: $padding 0;
            line-height: (108px - $padding * 2);
            list-style: none;

            &:first-child a {
                border-color: #F8D653;
            }
            &:nth-child(2) a {
                border-color: #F59742;
            }
            &:nth-child(3) a {
                border-color: #939611;
            }
            &:nth-child(4) a {
                border-color: #939611;
            }
            &:nth-child(5) a {
                border-color: #0B92B9;
            }
            &:nth-child(6) a {
                border-color: #A8D7EB;
            }

        }

    }

    .login-nav {
        
        float: right;

    }

}

@include keyframes(fadelink) {
    0% {
        color: black;
    }
    100% {
        color: $c-main-background;
    }
}
