$logo-height: 108px;
$font-size: 48px;
$link-padding: ($logo-height - $font-size) / 2 + 6;

.nav {

    @include vendor(border-radius, 4px);
    
    &:after {

        @extend .cf;

    }

    ul {

        clear: both;
        font-family: mathlete-bulky;
        @include font-size($font-size);
        margin: 0;
        padding: 0;

        a {

            color: black;
            display: block;
            padding: 4px 15px 4px 15px;
            text-decoration: none;

            &:hover {

                @include vendor(animation, fadelink .2s);
                color: $c-main-background;

            }

        }

        li {

            list-style: none;
            text-align: center;

        }

    }

    .login-nav {
        
        float: right;

    }

    @media all and (min-width: $lap-start) {

        height: $logo-height;

        ul {

            clear: none;
            float: right;

            a {

                border-right: 4px solid red;

            }

            li {

                float: left;
                line-height: ($logo-height - $link-padding * 2);
                padding: $link-padding 0;
                text-align: left;

                &:first-child a {
                    border-color: #F8D653;
                }
                &:nth-child(2) a {
                    border-color: #F59742;
                }
                &:nth-child(3) a {
                    border-color: #939611;
                }
                &:nth-child(4) a {
                    border-color: #0B92B9;
                }
                &:nth-child(5) a {
                    border-color: #A8D7EB;
                }
                &:nth-child(6) a {
                    border-color: #AADAE8;
                }
            
            }

        }

    }

}

@include keyframes(fadelink) {
    0% {
        color: black;
    }
    100% {
        color: $c-main-background;
    }
}
