input[type=text], input[type=password], textarea {
    border: 2px solid $c-main-background;
    padding: 4px 6px;

    @media all and (max-width: $lap-start) {
        width: 100%;
    }
}

form label {
    margin-bottom: 10px;
    &:after {
        content: ':';
    }
}

label.req {
    &:before {
        content: '* ';
        color: red;
    }
}

textarea {

    width: 100%;

}
