.content .container {

    background: white;
    line-height: 150%;
    padding: 30px 20px;

}

.sidebar {
    float: left;
}

.sidebar .container {

    background: white;
    padding: 30px 20px;

    @extend .content-block;
    margin-right: 20px;
    @media all and (max-width: $lap-start) {
        margin-left: 0;
    }
}
