body {
    background: $c-main-background;
    @include font-size(20px);
}

a {
    
    color: #34A5C4;
    text-decoration: none;

    &:hover {
        color: #EB296E;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: mathlete-bulky, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}

h2 {
    @include font-size(30px);
    margin: 0 0 20px 0;
    border-bottom: 4px solid white;

    &:first-child {
        border-color: #F8D653;
    }
    &:nth-childi(2n) {
        border-color: #F59742;
    }
    &:nth-child(3n) {
        border-color: #939611;
    }
    &:nth-child(4n) {
        border-color: #939611;
    }
    &:nth-child(5n) {
        border-color: #0B92B9;
    }
    &:nth-child(6n) {
        border-color: #A8D7EB;
    }
}
