.address input {

    display: block;
    margin: 10px 0;

}

input[type=text], input[type=password], textarea {
    border: 2px solid $c-main-background;
    padding: 4px 6px;

    @media all and (max-width: $lap-start) {
        width: 100%;
    }
}

form label {
    margin-bottom: 10px;
    &:after {
        content: ':';
    }
}

// field hints
.form-fields p {
    
    @include font-size(14px);
    margin-left: 20px;

}

label.req {
    &:before {
        content: '* ';
        color: red;
    }
}

textarea {

    width: 100%;

}
