@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";

// handle grid gutters ourselves
.grid__item {
    padding-left: 0;
}

.grid-wrapper * {
    -webkit-transition:0.2s width;
    animation: 0.2s width;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";
@import "ui/fonts";

@import "ui/wrapper";
@import "ui/objects/content-block";

@import "ui/objects/buttons";
@import "ui/objects/messages";
@import "ui/objects/nav";
@import "ui/objects/header";
@import "ui/objects/footer";

@import "ui/base";
@import "ui/forms";

@import "ui/_single_column";
@import "ui/_two_columns";
